/** General Styles **/
.path-mod-planner .printicon,
.path-mod-print .printicon {
    background: url([[pix:t/print]]) no-repeat scroll 2px center transparent;
    /*rtl:ignore*/
    padding-left: 20px;
}

#page-mod-print-print .displayprinticon,
#page-mod-print-print .displaydate {
    text-align: right;
    font-size: 0.75em;
}

#page-mod-print-print .strong {
    font-weight: 700;
}

#page-mod-print-print h4 {
    font-weight: 700;
}

.form-autocomplete-suggestions li[data-value="0"],
#fitem_id_activitycmid .form-autocomplete-suggestions li:nth-child(1),
#fitem_id_templateid .form-autocomplete-suggestions li:nth-child(1) {
    display: none;
    /* stylelint-disable-line declaration-no-important */
}

.plannerformlayout .mform {
    width: 427px;
}

.fgroup_id_searchgroup .col-form-label .fgroup_id_searchgroup_label {
    width: 45px;
}

.col-md-9.form-inline.align-items-start.felement {
    padding: 1px;
}

.felement .form-autocomplete-selection:focus {
    box-shadow: none;
}

.felement .form-autocomplete-suggestions {
    min-width: 200px;
}

.felement .d-md-inline-block .form-control {
    width: 200px;
}

#region-main .step-header {
    display: inline-flex;
    width: 100%;
}

#region-main .step-header .ui-accordion-header-icon {
    align-self: center;
    min-width: 15px;
}

#region-main .step-header .stepname {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#region-main .step-header .stepdate {
    margin-left: auto;
    white-space: nowrap;
}

#dashboard {
    min-height: auto;
}

#fitem_id_stepname_0 .ml-1.ml-md-auto.d-flex.align-items-center .align-self-start,
#fitem_id_stepallocation_0 .ml-1.ml-md-auto.d-flex.align-items-center.align-self-start {
    font-size: 16px;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    margin-right: .5rem;
    font-family: FontAwesome;
    color: #ca3120;
}

#fitem_id_stepname_0 .ml-1.ml-md-auto.d-flex .align-items-center.align-self-start:before,
#fitem_id_stepallocation_0 .ml-1.ml-md-auto.d-flex.align-items-center.align-self-start:before {
    content: "\f06a";
}

#page-mod-print-print {
    height: auto;
}

#fitem_id_stepname_0 .btn-link {
    display: none;
}

#fgroup_id_planner_searchgroup .col-form-label {
    max-width: 70px;
}